<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <!-- <textarea name="" id="" cols="30" rows="10" [(ngModel)]="txt"></textarea> -->
<div class="">
    <ul class="nav nav-tabs mx-auto" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Editor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Preview</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Settings</a>
        </li> -->
      </ul>
  </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <ngx-codemirror [(ngModel)]="txt" [options]="{
              lineNumbers: false,
              theme: 'material',
              'mode':'markdown',
              lineWrapping:true
            }" style="height: 100%"></ngx-codemirror>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <br>
                      <app-mathmd [content]='txt'></app-mathmd>
                  </div>
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        </div>
      </div>
  </div>
</div>
