/* You can add global styles to this file, and also import other style files */
/* @import "~codemirror/lib/codemirror"; */
/* @import "~codemirror/theme/material"; */

@import "../node_modules/codemirror/lib/codemirror.css";

@import "../node_modules/codemirror/theme/lesser-dark.css";


.CodeMirror {
    border: 1px solid #eee;
    height: 100% !important;
    font-family: sans-serif;
    font-size: 20px;
  }

  .CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
  }
  